/* Stile generale */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #0366d6;
}


/* Sezione Anagrafica */

#anagrafica {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#anagrafica h2 {
    color: #333;
    margin-top: 0;
}

#anagrafica img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


/* Altri stili per le sezioni... */


/* Bottone flottante */

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0366d6;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.floating-button:hover {
    background-color: #064785;
}