/* Reset dello stile predefinito del browser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Stile per il documento */

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: #333333;
    /* Colore di sfondo grigio molto scuro per la pagina */
}

.container {
    max-width: 210mm;
    /* Larghezza massima del contenitore */
    margin: 0 auto;
    padding: 20mm;
    background-color: white;
    box-shadow: 0 0 5mm rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    margin-bottom: 10mm;
}

.section {
    margin-bottom: 10mm;
}

.profile-picture {
    width: 40mm;
    height: 40mm;
    background-color: lightgray;
    margin-right: 10mm;
    float: left;
}

.description {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.floating-download-button {
    display: block;
    position: fixed;
    bottom: 20mm;
    right: 20mm;
    width: 120px;
    height: 40px;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border-radius: 4px;
}

@media print {
    /* Nascondi il pulsante di download durante la stampa */
    .floating-download-button {
        display: none;
    }
}